body {
  background-color: #dfd3c3;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #f0ece3;
}

td {
  text-align: left;
  border: 1px dotted #84708a;
}

tr:nth-child(odd) {
  background-color: #c8bdaf;
}

/* Make even columns white */
tr:nth-child(even) {
  background-color: #dfd3c3;
}

th {
  border: 1px solid #84708a;
}

table {
  border: 1px solid #84708a;
}

.main {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  align-items: center;
  border-right: 1px solid #84708a;
}

.homeworks {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

a.button {
  padding: 4px;
  background-color: #b1b8c0;
  border-color: #9fa5ac;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  white-space: nowrap;
  text-align: center;
}

a[onclick] {
  background-color: #a68dad;
  border-color: #84708a;
  cursor: pointer;
}

a[onclick]:hover {
  background-color: #84708a;
}

a.button[href] {
  background-color: #a68dad;
  border-color: #84708a;
}

a.button[href]:hover {
  background-color: #84708a;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 16px;
  width: 100%;
  background-color: #c7b198;
  gap: 16px;
}

.panel {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  padding: 8px;
  background-color: #dfd3c3;
  border: 1px solid #84708a;
  border-radius: 8px;
}

.hidden {
  display: none;
}

.hint {
  background-color: #c8bdaf;
  border: 1px solid #84708a;
  border-radius: 8px;
}

.large-text {
  font-size: 24px;
}

.main-label {
  font-weight: 600;
}

.inner-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  padding: 6px;
}

.flex {
  display: flex;
  padding: 0;
}

ul.dropdown {
  text-align: left;
}
ul.dropdown ul {
  visibility: hidden;
  text-align: left;
  padding: 0;
}

ul.dropdown li {
  list-style-type: none;
}

ul.dropdown li a {
  display: block;
  list-style-type: none;
  color: black;
  padding: 4px;
  border: 1px solid #84708a;
}

a.regular_link {
  color: #84708a;
}
